* {
    margin: 0;
    padding: 3px;
}

h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
}
.header {
    overflow: hidden;
    background-color:#0074d9;
    padding: 20px 10px;
  }
.content{
padding-top: 100px;
display: flex;
flex-direction: row;
justify-content: center;
}
.content1{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  