* {
    margin: 0;
    padding: 0;
}

h1 {
    color:  red;
    font-size: 2rem;
}

.header {
    color: green;
    font-size: medium;
}

.form-part label {
    display: block;
    margin: 10px 0 0;
}